body {
  color: #08003D;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
header, main, footer {
  width: 70%;
  margin: 0 auto;
  background-color: #efefef;
}
header {
  text-align: center;
}
h1 {
  font-size: 140%;
  padding-top: .4em;
}
h2 {
  font-size: 110%;
  padding-top: .2em;
}
footer {
  background-color: #afafaf;
  height: 50px;
  text-align: center;
  font-size: 80%;
}
footer p {
  padding-top: 20px;
}
img {
  width: 25%;
}

form {
  display: block;
}

.hidethis {
  display: none;
}

.showthis {
  display: block;
}